%main.bg-light.settings-outer
  .max-width-980
    .settings-inner
      = render partial: '/user/settings/navbar', locals: { active: 'account' }
      .settings-main.bg-white
        .settings-account
          .row
            = render partial: '/user/settings/account_sidebar', locals: { active: 'account' }
            .col-md-9
              .account-wrapper.account-basic
                password
