%main.bg-light.settings-outer
  .max-width-980
    .settings-inner
      = render partial: 'navbar', locals: { active: 'account' }
      .settings-main.bg-white
        .settings-account
          .row
            = render partial: 'account_sidebar', locals: { active: 'account' }
            .col-md-9
              .account-wrapper.account-basic
                .row.mb-3
                  .col-12.col-md-6
                    %label.form-label.fw-bold
                      アカウント名(Name)
                    %a.ms-2.edit-btn{:href => "/settings/account/nickname"}
                      編集
                    %p
                      田中又暉
                .row.mb-3
                  .col-12.col-md-6
                    %label.form-label.fw-bold
                      ユーザー名(Username)
                    %a.ms-2.edit-btn{:href => "/settings/account/username"}
                      編集
                    %p
                      papapazzi
                .row.mb-3
                  .col-12.col-md-6
                    %label.form-label.fw-bold
                      メールアドレス(email)
                    %a.ms-2.edit-btn{:href => "/settings/account/email"}
                      編集
                    %p
                      info@ohmylike.jp
                .row.mb-3
                  .col-12.col-md-6
                    %label.form-label.fw-bold
                      パスワード(password)
                    %a.ms-2.edit-btn{:href => "/settings/account/password"}
                      編集
                    %p
                      ********
