%main.bg-light.settings-outer
  .max-width-980
    .settings-inner
      = render partial: 'navbar', locals: { active: 'account' }
      .settings-main.bg-white
        .settings-account
          .row
            = render partial: 'account_sidebar', locals: { active: 'profile' }
            .col-md-9
              .account-wrapper.account-basic
                .row.mb-3
                  .col-12.col-md-12
                    .row
                      .col-9
                        .name
                          こどもレンズ運営がプロモーションを手伝うことを許諾する
                        %p.form-text.description
                          あなたの画像を外部サイトへ配信したり、Twitterで紹介したりすることがあります。
                      .col-3
                        %label.a-switch.is-checked
                          %input.a-switch__input.visually-hidden{"aria-labelledby" => "", "true-value" => "true", :type => "checkbox"}/
                          .a-switch__core
