%footer.bd-footer.py-5.mt-5.bg-light
  .container.py-5
    .row
      .col-lg-3.mb-3
        %a.d-inline-flex.align-items-center.mb-2.link-dark.text-decoration-none{"aria-label" => "Bootstrap", :href => "/"}
          %span.fs-5= t("service.name")
        %ul.list-unstyled.small.text-muted.my-4
          %li
            %svg.bi.bi-envelope{:fill => "currentColor", :height => "1em", :viewbox => "0 0 16 16", :width => "1em", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z", "fill-rule" => "evenodd"}
              %path{:d => "M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z"}
            %a{:href => "mailto:info@ohmylike.jp"} info@ohmylike.jp
      .col-6.col-lg-3.mb-3
        %h5 プロダクト
        %ul.list-unstyled
          %li.mb-2
            %a{:href => "#"} こどもレンズ
          %li.mb-2
            %a{:href => ""} こどもレンズ プレミアム
      .col-6.col-lg-3.mb-3
        %h5 運営会社
        %ul.list-unstyled
          %li.mb-2
            %a{:href => "#"} 私たちについて
          %li.mb-2
            %a{:href => "#"} ブログ
      .col-6.col-lg-3.mb-3
        %h5 ガイド
        %ul.list-unstyled
          %li.mb-2
            %a{:href => "#"} お問い合わせ
          %li.mb-2
            %a{:href => "/terms"} 利用規約
          %li.mb-2
            %a{:href => "/privacy"} プライバシーポリシー
