.col-md-3
  .account-sidebar
    %ul.account-sidebar-list
      %li.account-sidebar-item{class:('active' if active == 'notifications')}
        %a.account-sidebar-link{:href => '/settings/notifications'}
          メール
